<dl class="row pl-2">
  <dt class="col-sm-2">
    <label><%= t('medicine.name_label') %></label>
  </dt>
  <dd class="col-sm-9">
    <%= @medicine.name %>
  </dd>
  <dt class="col-sm-2">
    <label><%= t('medicine.price_label') %></label>
  </dt>
  <dd class="col-sm-9">
    <%= @medicine.price %>
  </dd>
  <dt class="col-sm-2">
    <label><%= t('medicine.search.total_quantity') %></label>
  </dt>
  <dd class="col-sm-9">
    <%= @medicine.quantity %>
  </dd>
  <dt class="col-sm-2">
    <label><%= t('medicine.search.add_quantity') %></label>
  </dt>
  <dd class="col-sm-9">
    <% if params[:purchase_order_sequence_num] %>
      <div class="form-increment" data-quantity-change="">
        <%= form_tag(add_medicine_purchase_order_path(params[:purchase_order_sequence_num], medicine_id:@medicine.id), method: 'post', remote: true, class: 'navbar-form navbar-left') do %>
          <div class="row">
            <%= number_field_tag :quantity, 1, in: 1..@medicine.quantity, required: true, class: "form-control col-sm-2 mr-2" %>
            <%= submit_tag t('add'), class: "btn btn-primary col-sm-1", data: { disable_with: t('disabled_add') } %>
          </div>
        <% end %>
      </div>
    <% elsif params[:bill_sequence_num] %>
       <div class="form-increment" data-quantity-change="">
        <%= form_tag(add_medicine_bill_path(params[:bill_sequence_num], medicine_id:@medicine.id), method: 'post', remote: true, class: 'navbar-form navbar-left') do %>
        <div class="row">
          <%= number_field_tag :quantity, 1, in: 1..@medicine.quantity, required: true, class: "form-control col-sm-2 mr-2" %>
          <%= submit_tag t('add'), class: "btn btn-primary col-sm-1", id: 'add_button' %>
        </div>
        <% end %>
     </div>
    <% end %>
  </dd>
</dl>
