<div class="container  pt-3"> 
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-10"><%= t('medicine.heading') %></h3> 
        <div class="col-md-2 d-flex justify-content-md-end">
          <%= link_to t('medicine.add_medicine_label'), new_medicine_path ,class: "btn btn-primary" %>   
        </div>   
      </div>
    </div> 
    <div class="card-body">
      <p><%= flash[:notice] %></p> 
      <table  class="table">   
        <thead >   
          <tr>   
            <th><%= t('medicine.name_label') %></th>   
            <th><%= t('medicine.price_label') %></th>   
            <th><%= t('medicine.quantity_label') %></th> 
            <th></th>    
          </tr>   
        </thead>   
        <tbody>   
        <% @medicines.each do |medicine| %>   
          <tr>   
            <td><%= link_to medicine.name, medicine_path(medicine) %></td>   
            <td><%= medicine.price %></td>   
            <td><%= medicine.quantity%></td>
            <div>   
              <td>   
                <%= link_to t('edit'), edit_medicine_path(medicine), class: "btn btn-primary" %> 
                <% if can? :destroy, medicine %>
                  <%= link_to t('delete'), medicine_path(medicine), method: :delete, class: "btn btn-danger btn-spacing", data: {confirm:'Are you sure you want to delete medicine?' }%>
                <% end %>      
              </td>
            </div>    
          </tr>  
        <% end %>   
        </tbody>   
      </table> 
    </div>
  </div>
</div>
<div class="pagination justify-content-center" class="pagination-spacing">
  <%= will_paginate @medicines, previous_label: t('paginate.previous'), next_label: t('paginate.next') %> 
</div>