<%= form_for @prescription, method: "patch" do |f| %>
  <div class="container  pt-3">
    <div class="card">
      <div class="card-header p-3 container-fluid">
        <div class="row">
          <h3 class="col-md-8"><%= t('prescription.name') %></h3>
          <div class="col-md-4 d-flex justify-content-md-end"> 
            <%= f.submit t('prescription.save') , class: "btn btn-primary" %>
            <%= link_to t('prescription.cancel'), :back , class: "btn btn-secondary btn-spacing" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>   
          <div class="form-group">
            <label><%= t('prescription.notes') %></label><br />
            <%= f.text_area :notes, rows:5, class: "form-control" %>
          </div>
        </p>
      </div>
    </div>
  </div>
<% end %>
