<% if @prescription.prescribed_medicines.present? %>
  <label><strong><%= t('prescription.medicines') %>: </strong></label>
  <table class="table" >
    <thead>
      <tr>
        <th><%= t('prescription.medicine_name') %></th>
        <th><%= t('prescription.quantity') %></th>
        <th><%= t('prescription.instructions') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% prescribed_medicines = @prescription.prescribed_medicines.paginate(page: params[:page], per_page: PAGINATION_SIZE) %>
      <% prescribed_medicines.each do |p| %>
        <tr>
          <td><%= p.medicine.name %></td>
          <td><%= p.quantity %></td>
          <td class="instructions_width"><%= p.usage_instruction %></td>
          <% if can?(:edit, @prescription) %>
            <td>
              <%= link_to prescription_prescribed_medicine_path(@prescription, p), method: :delete, data: { confirm: t('medicine.delete_confirm') }, remote: true do %>
                <i class="fas fa-trash-alt color-danger"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination justify-content-center" class="pagination-spacing">
    <%= will_paginate prescribed_medicines, previous_label: t('paginate.previous'), next_label: t('paginate.next') %>
  </div>
<% elsif can?(:edit, @prescription) %>
  <div class="ml-3 font-italic color-ready note"><%= t('prescription.note') %></div>
<% end %>
