<% if @prescription.prescribed_medicines.present? %>
  <label><strong><%= t('prescription.medicines') %>: </strong></label>
  <table class="table" >
    <thead>
      <tr>
        <th><%= t('prescription.medicine_name') %></th>
        <th><%= t('prescription.quantity') %></th>
        <th><%= t('prescription.instructions') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% prescribed_medicines = @prescription.prescribed_medicines.paginate(page: params[:page], per_page:5) %>
    <% prescribed_medicines.each do |p| %>
        <tr>
          <td><%= p.medicine.name %></td>
          <td><%= p.quantity %></td>
          <td style="max-width: 30px;"><%= p.usage_instruction %></td>
          <td><%= link_to prescription_prescribed_medicine_path(@prescription, p), method: :delete, data: {confirm: "Are you sure?"}, remote: true do%>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>   
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination justify-content-center" class="pagination-spacing">
    <%= will_paginate prescribed_medicines, previous_label: t('paginate.previous'), next_label: t('paginate.next') %>
  </div>
<% end %>