<div id="flash_messages"></div>
<div class="container pt-3">
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-6"><%= t('prescription.name') %></h3>
        <div class="col-md-6 d-flex justify-content-md-end">
          <% if can?(:edit, @prescription) %>
            <%= link_to 'Add Medicine', new_prescription_prescribed_medicine_path(@prescription.sequence_num) , {class: "btn btn-primary btn-spacing", remote: true} %>
          <% end %>
          <% if can?(:destroy, @prescription) %>
            <%= link_to t('delete'), prescription_path(@prescription), method: :delete, data: {confirm: t('popup.delete_prescription')} , class: "btn btn-danger btn-spacing" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p>
        <dl class="row">
          <dt class="col-sm-2">
            <label><%= t('prescription.appointment_id') %>: </label>
          </dt>
          <dd class="col-sm-10">
            <%= link_to "##{@prescription.appointment.sequence_num}", appointment_path(@prescription.appointment) %>
          </dd>
          <dt class="col-sm-2">
            <label><%= t('prescription.doctor_name') %>: </label>
          </dt>
          <dd class="col-sm-10">
            <%= @prescription.appointment.doctor.name.titleize %>
          </dd>
          <dt class="col-sm-2">
            <label><%= t('prescription.patient_name') %>: </label>
          </dt>
          <dd class="col-sm-10">
            <%= @prescription.appointment.patient.name.titleize %>
          </dd>
          <dt class="col-sm-2">
            <label><%= t('prescription.appointment_date') %>: </label>
          </dt>
          <dd class="col-sm-10">
            <%= @prescription.appointment.date %>
          </dd>
          <dt class="col-sm-2">
            <label><%= t('prescription.appointment_time') %>: </label>
          </dt>
          <dd class="col-sm-10">
            <%= "#{convert_to_twelve_hour_format(@prescription.appointment.availability.start_slot)} - #{convert_to_twelve_hour_format(@prescription.appointment.availability.end_slot)}" %>
          </dd>
          <dt class="col-sm-2">
            <label><%= t('prescription.doctor_notes') %>: </label>
            <% if can?(:edit, @prescription) %>
              <%= link_to edit_prescription_path(@prescription) do %>
                <i class="fas fa-edit color-primary-btn" title="prescription"></i>
              <% end %>
            <% end %>
          </dt>
          <dd class="col-sm-10">
            <%= @prescription.notes %>
          </dd>
        </dl>
        <div id = "display_medicines">
          <%= render partial: 'prescriptions/medicines_in_prescription' %>
        </div>
      </p>
    </div>
  </div>
</div>
<!-- Model -->
<div class="modal fade" id = "add_medicine_model_window">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
