<h1>Welcome To Hospital Management System!</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <% if current_user.admin? %>
  	<%= link_to 'Show Profile', admin_path(current_user), class: 'navbar-link' %>
  <% end %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %>
  <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
<% end %>
