<div id="add_medicine_flash_messages"></div>
<%= form_for @bill, url: {action: :update} do |f| %>
  <div class="container  pt-3">
      <div class="card">
        <div class="card-header p-3 container-fluid">
          <div class="row">
            <h3 class="col-md-9">
              <%= t('sales_order.edit_order_label') %>
            </h3>
          </div>
        </div>
        <div class="card-body">
          <p>
            <div class="form-group">
              <label><%= t('sales_order.name_label') %></label>
              <%= f.text_field :patient_id, required: true, class: "form-control", id: "patient_search1" %>
            </div>
            <div class="form-group">
              <label><%= "#{t('sales_order.price_label')}:" %></label>
              <strong><span class="pl-3" id="bill_price"><%= @bill.price %></span></strong>
            </div>
            <div class="form-group">
              <label><%= t('sales_order.type_label') %></label>
              <%= f.text_field :billable_type, readonly: true, class: "form-control" %>
            </div>
          </p>
        </div>
        <div class="card-footer p-3 container-fluid">
          <div class="row d-flex justify-content-md-end">
            <div class="col-md-3 d-flex justify-content-md-end">
              <%= link_to t('cancel'), bills_path , class: "btn btn-secondary btn-spacing" %>
              <%= f.submit t('update'), class: "btn btn-primary btn-spacing" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container pt-3 mb-5">
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-9">
          <% if @bill.medicine_bill? %>
            <%= t('sales_order.add_medicines') %>
          <% else %>
            <%= t('sales_order.add_doctors') %>
          <% end %>
        </h3>
      </div>
    </div>
    <div class="card-body">
      <% if @bill.medicine_bill? %>
        <%= render 'medicinesearch' %>
      <% else %>
        <%= render 'doctorssearch' %>
      <% end %>
      <div id="display_results"></div>
    </div>
  </div>
</div>
<% if @bill.medicine_bill? %>
  <div class="container pt-3 mb-5">
    <div class="card">
      <div class="card-header p-3 container-fluid">
        <div class="row">
          <h3 class="col-md-9">
            <%= t('medicine.heading') %>
          </h3>
        </div>
      </div>
      <div class="card-body">
        <div id="medicines_table_bill">
          <%= render(partial: 'medicines_table') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $('#patient_search1').tokenInput("/patients/search_patients", { preventDuplicates: true, theme: 'facebook', tokenLimit: 1, prePopulate: <%= [{id: @bill.patient_id, name: @bill.patient.name }].to_json.html_safe %>});
  $('.token-input-dropdown-facebook').css({"width": "69%", "font-size": "15px"});
  $('.token-input-list-facebook').css({"width": "100%", "font-size": "18px", "font-family": "Arial, Helvetica, sans-serif", "border-radius": "5px"});
<% end %>
