<div class="container  pt-3">
    <div class="card">
      <div class="card-header p-3 container-fluid">
        <div class="row">
          <h3 class="col-md-8"><%= @bill.patient.name %></h3>
          <% if current_user.admin? %>
            <div class="col-md-4 d-flex justify-content-md-end">
              <%= link_to t('delete'), bill_path(@bill), method: :delete, class: "btn btn-danger", data: { confirm: t('medicine.delete_confirm') } %>
              <%= link_to t('edit'), edit_bill_path(@bill), class: "btn btn-primary btn-spacing" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
      <dl class="row">
        <dt class="col-sm-2">
          <label><%= t('sales_order.name_label') %></label>
        </dt>
        <dd class="col-sm-9">
          <%= @bill.patient.name %>
        </dd>
        <dt class="col-sm-2">
          <label><%= t('sales_order.price_label') %></label>
        </dt>
        <dd class="col-sm-9">
          <%= @bill.price %>
        </dd>
        <dt class="col-sm-2">
          <label><%= t('sales_order.type_label') %></label>
        </dt>
        <dd class="col-sm-9">
          <%= @bill.billable_type %>
        </dd>
      </dl>
      <% if @bill.medicine_bill? %>
        <% if @bill.medicines.present? %>
          <dt class="col-sm-2">
            <label><%= t('medicine.heading') %></label>
          </dt>
          <dd>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <%= t('medicine.name_label') %>
                  </th>
                  <th>
                    <%= t('medicine.price_label') %>
                  </th>
                  <th>
                    <%= t('medicine.quantity_label') %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @bill.bill_details.each do |detail| %>
                  <tr>
                    <td>
                      <%= detail.billable.name %>
                    </td>
                    <td>
                      <%= detail.billable.price %>
                    </td>
                    <td>
                      <%= detail.quantity %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </dd>
        <% end %>
      <% else %>
        <% if @bill.bill_details.present? %>
          <dt class="col-sm-2">
            <label><%= t('doctor.appointments') %></label>
          </dt>
          <dd>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <%= t('doctor.name_label') %>
                  </th>
                  <th>
                    <%= t('doctor.fee') %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @bill.bill_details.each do |detail| %>
                  <tr>
                    <td>
                      <%= detail.billable.name %>
                    </td>
                    <td>
                      <%= detail.billable.consultancy_fee %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </dd>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
</div>