<div class="card">
  <div class="container-fluid">
    <div class="row">
      <%if @purchase_order.medicines.present?%>
        <dt class="col-sm-2">  
          <label><%= t('medicine.heading') %></label>
        </dt>
        <dd>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th class="col-sm-9">
                  <%= t('medicine.name_label') %>
                </th>
                <th>
                  <%= t('medicine.quantity_label') %>
                </th>
                <th>
                  <%= t('action') %>
                </th>
              </tr>  
            </thead>
              <%@purchase_order.purchase_details.each do |pd|%>
              <tr>
                <td class="col-sm-9">
                  <%=pd.medicine.name%>
                </td>
                <td>
                  <%=pd.quantity%>
                </td>
                <td>
                  <%= link_to remove_medicine_purchase_order_path(id: params[:id], medicine_id:pd.medicine.id), method: :post, class: "btn-danger", data: { confirm:'Are you sure you want to delete medicine?' }, remote: true do %>
                        <i class="fas fa-trash-alt"></i>
                  <%end%>
                </td>
              </tr> 
              <%end%>
          </table>
        </dd>
      <%end%>
    </div>
  </div> 
</div>