<%= form_for @purchase_order, url: {action: :update} do |f| %> 
  <div class="container  pt-3"> 
      <div class="card">
        <div class="card-header p-3 container-fluid">
          <div class="row">
            <h3 class="col-md-9">
              <%= t('purchase_order.edit_order_label') %>
            </h3> 
          </div>
        </div> 
        <div class="card-body"> 
          <p><%= flash[:error] %></p>   
          <p>   
            <div class="form-group">   
              <label><%= t('purchase_order.name_label') %></label>   
              <%= f.text_field :vendorname, :required => true, class: "form-control" %>   
            </div>   
            <div class="form-group">   
              <label><%= t('purchase_order.price_label') %></label>   
              <%= f.number_field :price, :required => true, class: "form-control" %>   
            </div>   
            <div class="form-group">   
              <% if @purchase_order.drafted? %>   
                <%= link_to t('purchase_order.confirm_button'), confirm_purchase_order_path(@purchase_order), method: "put", class: "btn btn-success"%> 
              <% elsif @purchase_order.confirmed? %>
                <%= link_to t('purchase_order.deliver_button'), deliver_purchase_order_path(@purchase_order), method: "put", class: "btn btn-success"%>
              <% end %>
            </div>    
          </p>
        </div> 
      </div>
      <div class="card-footer p-3 container-fluid">
        <div class="row d-flex justify-content-md-end">
          <div>   
            <%= link_to t('back'), { controller: 'purchase_order', action: 'index'}, class: "btn btn-secondary" %>   
            <%= f.submit t('update'), class: "btn btn-primary btn-spacing"%>   
          </div> 
        </div>
      </div>    
    </div>    
  </div>
<% end %> 
<%if @purchase_order.drafted?%> 
  <div class="container" id="search1">
    <%= form_tag(get_medicine_purchase_order_path, method: 'get', remote: true, 
    class: 'navbar-form navbar-left') do %>  
    <div class="input-group">  
      <%= text_field_tag :search, nil, required: true, id: 'search_medicines', placeholder: "Search by Description..." %>
      <%= hidden_field_tag :purchase_order_sequence_num, @purchase_order.sequence_num %> 
      <div class="input-group-btn">  
        <%= submit_tag t('submit'), :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div> 
    </div>  
    <% end %> 
  </div> 
<<<<<<< HEAD
  <div class="container" id="display_results"></div>
<% end %>
=======
</div>  
<div class="container" id="search1">
  <%= form_tag(search_medicines_path, method: 'get', remote: true, 
  class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= text_field_tag :search, nil, required: true, id: 'search_medicines', placeholder: "Search by Description..." %>
    <%= hidden_field_tag :purchase_order_sequence_num, @purchase_order.sequence_num %> 
    <div class="input-group-btn">  
      <%= submit_tag "Submit", class: 'btn btn-info glyphicon glyphicon-search',name: nil %>  
    </div> 
  </div>  
  <% end %> 
</div> 
<div class="container" id="display_results"></div>
>>>>>>> b740f25ad34f77afc8c6855e2ded049185a21227
