<div class="container  pt-3"> 
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-10">Purchase Orders</h3> 
        <div class="col-md-2 d-flex justify-content-md-end">
          <%= link_to 'Add Order', new_purchase_order_path, class: "btn btn-primary" %>   
        </div>   
      </div>
    </div> 
    <div class="card-body">
      <p><%= flash[:notice] %></p> 
      <table  class="table">   
        <thead >   
          <tr>   
            <th>Vendor name</th>   
            <th>Price</th>   
            <th>State</th> 
            <th></th>  
          </tr>   
        </thead>   
        <tbody>   
        <% @purchase_orders.each do |po| %>   
          <tr>   
            <td><%=link_to po.vendorname, purchase_order_path(po)%></td>   
            <td><%= po.price%></td>   
            <td><%= po.state%></td> 
            <div>   
              <td>
                <%if po.drafted?||po.confirmed?%>
                  <%= link_to 'Edit', edit_purchase_order_path(po), class: "btn btn-primary" %>
                <%end%>  
                <%= link_to 'Delete', purchase_order_path(po), method: :delete, class: "btn btn-danger btn-spacing"%>      
              </td> 
            </div>       
          </tr>   
        <% end %>   
        </tbody>   
      </table> 
    </div>
  </div>
</div>
<div class="pagination justify-content-center" class="pagination-spacing">
  <%= will_paginate @purchase_orders, previous_label: t('paginate.previous'), next_label: t('paginate.next') %> 
</div>
