<div class="container  pt-3"> 
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-10"><%= t('purchase_order.heading') %></h3> 
        <div class="col-md-2 d-flex justify-content-md-end">
          <%= link_to t('purchase_order.add_order_label'), new_purchase_order_path, class: "btn btn-primary" %>   
        </div>   
      </div>
    </div> 
    <div class="card-body">
      <p><%= flash[:notice] %></p> 
      <table  class="table">   
        <thead >   
          <tr>   
            <th><%= t('purchase_order.name_label') %></th>   
            <th><%= t('purchase_order.price_label') %></th>   
            <th><%= t('purchase_order.state_label') %></th> 
            <th></th>  
          </tr>   
        </thead>   
        <tbody> 
        <% if @purchase_orders.present? %>   
          <% @purchase_orders.each do |po| %>   
            <tr>   
              <td><%=link_to po.vendorname, purchase_order_path(po)%></td>   
              <td><%= po.price%></td>   
              <td><%= po.state%></td> 
              <div>   
                <td>
                  <%if (po.drafted? || po.confirmed?) && (can? :edit, po)%>
                    <%= link_to edit_purchase_order_path(po) do %>
                      <i class="fas fa-pen"></i>
                    <%end%>
                  <%end%>  
                  <%= link_to purchase_order_path(po), method: :delete, class: "btn-danger btn-spacing", data: {confirm:'Are you sure you want to delete medicine?'} do %>
                    <i class="fas fa-trash-alt"></i>
                  <%end%>      
                </td> 
              </div>       
            </tr>   
          <% end %>
        <% else %>
          <strong><%= t('purchase_order.none') %></strong>
        <% end %>   
        </tbody>   
      </table> 
    </div>
  </div>
</div>
<div class="pagination justify-content-center" class="pagination-spacing">
  <%= will_paginate @purchase_orders, previous_label: t('paginate.previous'), next_label: t('paginate.next') %> 
</div>
