<div class="container  pt-3"> 
    <div class="card">
      <div class="card-header p-3 container-fluid">
        <div class="row">
          <h3 class="col-md-8"><%= @purchase_order.vendorname %></h3> 
          <div class="col-md-4 d-flex justify-content-md-end"> 
            <% if @purchase_order.drafted? && @purchase_order.medicines.exists? %>   
              <%= link_to t('purchase_order.confirm_button'), confirm_purchase_order_path(@purchase_order), method: "put", class: "btn btn-success"%> 
             <% elsif @purchase_order.confirmed? %>
                <%= link_to t('purchase_order.deliver_button'), deliver_purchase_order_path(@purchase_order), method: "put", class: "btn btn-success"%>
            <% end %> 
            <%= link_to t('delete'), purchase_order_path(@purchase_order), method: :delete, class: "btn btn-danger btn-spacing", data: { confirm:'Are you sure you want to delete medicine?' }%>
            <% if @purchase_order.drafted? || @purchase_order.confirmed?%>
             <%= link_to t('edit'), edit_purchase_order_path(@purchase_order), class: "btn btn-primary btn-spacing"%> 
            <%end%>
          </div>
        </div>
      </div>
      <div class="card-body">
      <dl class="row">
        <dt class="col-sm-2">  
          <label><%= t('purchase_order.name_label') %></label>
        </dt>
        <dd class="col-sm-9">   
          <%=@purchase_order.vendorname %>   
        </dd>
        <dt class="col-sm-2">  
          <label><%= t('purchase_order.price_label') %></label>   
        </dt>
        <dd class="col-sm-9">   
          <%=@purchase_order.price%>   
        </dd>
        <dt class="col-sm-2">  
          <label><%= t('purchase_order.state_label') %></label>
        </dt>
        <dd class="col-sm-9">   
          <%=@purchase_order.state%>   
        </dd>
    </dl>
    </div>    
  </div>
  <br>
  <div class="card">
      <div class="container-fluid">
        <div class="row">
          <%if @purchase_order.medicines.present?%>
                <dt class="col-sm-2">  
                    <label><%= t('medicine.heading') %></label>
                </dt>
                <dd>
                  <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                      <th class="col-sm-9">
                        <%= t('medicine.name_label') %>
                      </th>
                      <th>
                        <%= t('medicine.quantity_label') %>
                      </th>
                    </tr>  
                    </thead>
                    <%@purchase_order.purchase_details.each do |pd|%>
                    <tr>
                      <td class="col-sm-9">
                        <%=pd.medicine.name%>
                      </td>
                      <td>
                        <%=pd.quantity%>
                      </td>
                    </tr> 
                    <%end%>
                  </table>
                </dd>
          <%end%>
        </div>
      </div> 
    </div>  
</div>