<table  class="table picture_text">   
  <thead >   
    <tr>
      <th><%= t('doctor.label.picture') %></th>
      <th><%= t('doctor.label.doctor_name') %></th>   
      <th><%= t('doctor.label.registration_no') %></th>   
      <th><%= t('doctor.label.speciality') %></th>   
      <th><%= t('doctor.label.consultancy_fee') %></th>  
    </tr>   
  </thead>   
  <tbody>   
  <% list_of_doctors_with_speciality(@doctors, params[:Filter_Doctor]).each do |doctor| %>   
    <tr>
      <td>
        <a href=<%= doctor_path(doctor) %> >
        <div class="set_image">
          <% if doctor.profile_picture.present? %>
            <%= image_tag doctor.profile_picture.url, class: 'block' %>
          <% else %>
            <%= image_pack_tag 'default_avatar.png', class: 'block' %>
          <% end %>
        </div>
        </a>
      </td>
      <td ><%= link_to doctor.name, doctor_path(doctor) %></td>   
      <td><%= doctor.registration_no %></td>  
      <td><%= doctor.speciality %></td>  
      <td><%= doctor.consultancy_fee %></td>
    </tr>   
  <% end %>  
  </tbody>
</table> 
