<table  class="table picture_text">
  <thead>
    <tr>
      <th><%= t('doctor.label.picture') %></th>
      <th><%= t('doctor.label.doctor_name') %></th>
      <th><%= t('doctor.label.registration_no') %></th>
      <th><%= t('doctor.label.speciality') %></th>
      <th><%= t('doctor.label.consultancy_fee') %></th>
    </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td>
        <%= link_to doctor_path(doctor) do %>
          <div class="set_image">
            <%= profile_picture(doctor) %>
          </div>
        <% end %>
      </td>
      <td><%= link_to doctor.name, doctor_path(doctor) %></td>
      <td><%= doctor.registration_no %></td>
      <td><%= doctor.speciality %></td>
      <td><%= doctor.consultancy_fee %></td>
    </tr>
  <% end %>
  </tbody>
</table>
