<div class="container pt-3"> 
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-10">Doctors</h3> 
        <% if current_user.admin? %>
          <div class="col-md-2 d-flex justify-content-md-end">
            <%= link_to 'Add Doctor', new_doctor_path ,class: "btn btn-primary" %>   
          </div>   
        <% end %>
      </div>
    </div> 
    <div class="card-body">
      <table  class="table picture_text">   
        <thead >   
          <tr>
            <th><%= t('doctor.label.picture') %></th>
            <th><%= t('doctor.label.doctor_name') %></th>   
            <th><%= t('doctor.label.registration_no') %></th>   
            <th><%= t('doctor.label.speciality') %></th>   
            <th><%= t('doctor.label.consultancy_fee') %></th>  
          </tr>   
        </thead>   
        <tbody>   
        <% @doctors.each do |doctor| %>   
          <tr>
            <td>
              <a href=<%= doctor_path(doctor) %> >
              <div class="set_image">
                <% if doctor.profile_picture.present? %>
                  <%= image_tag doctor.profile_picture.url, class: 'block' %>
                <% else %>
                  <%= image_pack_tag 'default_avatar.png', class: 'block' %>
                <% end %>
              </div>
              </a>
            </td>
            <td ><%= link_to doctor.name, doctor_path(doctor) %></td>
            <td><%= doctor.registration_no %></td>  
            <td><%= doctor.speciality %></td>  
            <td><%= doctor.consultancy_fee %></td>
          </tr>   
        <% end %>  
        </tbody>
      </table> 
    </div>
  </div>
</div>
<div class="pagination justify-content-center" class="pagination-spacing">
  <%= will_paginate @doctors, previous_label: t('paginate.previous'), next_label: t('paginate.next') %> 
</div>
