<div class="container pt-3 mb-3 half-background">
  <div class="row">
    <%= render partial: "dashboard_top_card", locals: { text_label: t('dashboard.doctors'), value: count_doctors(@current_hospital) } %>
    <%= render partial: "dashboard_top_card", locals: { text_label: t('dashboard.appointments'), value: count_user_appointments(current_user) } %>
    <%= render partial: "dashboard_top_card", locals: { text_label: t('dashboard.your_orders'), value: count_patient_orders(current_user) } %>
    <%= render partial: "dashboard_top_card", locals: { text_label: t('dashboard.medicines'), value: count_medicines(@current_hospital) } %>
  </div>
  <div class="row">
    <div class="col-xl-4 my-4">
      <div class="card dashboard-stat">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1"><%= t('dashboard.overview') %></h6>
              <h5 class="title-large mb-0"><%= t('dashboard.appointments') %></h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <%= column_chart current_user.appointments.group_by_day_of_week(:created_at, format: "%a").count, dataset: { borderWidth: 0, fill: true }, colors: ["#007bff"],
            library: { scales: { yAxes: [{ gridLines: { display: false } }],
            xAxes: [{ gridLines: { display: false } }] } } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 my-4">
      <div class="card bg-default color-back dashboard-stat">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1"><%= t('dashboard.purchased_medicines') %></h6>
              <h5 class="title-large text-white mb-0"><%= t('dashboard.overview') %></h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <!-- Chart wrapper -->
            <%= line_chart current_user.bills.where(billable_type: 'medicine').group_by_day(:created_at, time_zone: "Pacific Time (US & Canada)").count, points: false, dataset: { borderWidth: 4 },
              library: {
                legend: { labels: { fontColor: "#fff" } },
                scales: {
                  yAxes: [{ ticks: { fontColor: "#fff" }, scaleLabel: { fontColor: "#fff" } }],
                  xAxes: [{ ticks: { fontColor: "#fff" } }]
                }
              }%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
