<%= render "users/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="container w-50 card_center"> 
    <div class="card card-border">
      <div class="card-body m-5">
        <div class="text-center p-3 container-fluid">
          <div class="row">
            <h1 class="col-md-12">
              <%= t('guest.welcome_msg') %>
            </h1> 
          </div>
        </div>
        <div class="pt-25">
          <div class="separator"></div>
        </div>
        <div class="row mt-3 ml-2 font-for-card">
          <h3 ><%= t('guest.change_password') %></h3>
        </div>
        <p>   
          <div class="row px-2 pt-2 pb-0 mr-1">
            <label class="col-3">
              <div class="row pl-3">
                <%= t('guest.profile.new_password') %>
              </div>
              <div class="row pl-3">
                <% if @minimum_password_length %>
                  <em class="min-password-size" >(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </div>
            </label>
            <div class="pl-0 col-9">
              <%= f.password_field :password, autofocus: true, required: true, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>
          <div class="row px-2 pt-0 mr-1">
            <label class="col-3"><%= t('guest.profile.confirm_new_password') %></label>
            <div class="pl-0 col-9">
              <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>
        </p>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.submit t('submit') , class: "btn hover-button button-width" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="text-center col-md-12">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
