<%= render "users/shared/error_messages", resource: resource %>
<div class="box">
  <div class="wrapper">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="container pt-3 w-50 card_center">
        <div class="card">
          <div class="card-header p-3 container-fluid">
            <div class="row">
              <h3 class="col-md-9">
                <%= t('guest.forgot_password') %>
              </h3> 
            </div>
          </div>
          <div class="card-body">  
            <p>   
              <div class="form-group">
                <label><%= t('guest.profile.email') %></label> 
                <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>
              </div>
            </p> 
          </div>
          <div class="card-footer p-3 container-fluid">
            <div class="row">
              <div class="col-md-9">
                <%= f.submit "Send me reset password instructions", class: "btn my-0 my-sm-0 main-sign-up-btn mr-3" %>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-9">
                <%= render "users/shared/links" %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
