<div class="container pt-3"> 
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-10"><%= t('appointment.breadcrumb.index') %></h3> 
        <% if current_user.patient? %>
          <div class="col-md-2 d-flex justify-content-md-end">
            <%= link_to 'Add', new_appointment_path,  {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#appointment_modal', class: 'btn btn-primary'} %>
            <%= render partial: "appointment_modal" %>   
          </div> 
        <% end %>  
      </div>
    </div> 
    <div class="card-body">
      <table  class="table">   
        <thead >   
          <tr>
            <th><%= t('appointment.label.date') %></th> 
            <th><%= t('appointment.label.start') %></th>   
            <th><%= t('appointment.label.end') %></th>
            <% unless current_user.doctor? %>   
              <th><%= t('doctor.name') %></th> 
              <th><%= t('appointment.label.status') %></th>
            <% end %>
            <% unless current_user.patient? %>
              <th><%= t('patient.name') %></th>  
              <th></th>
            <% end %>
            <th></th>
          </tr>   
        </thead>   
        <tbody>   
          <% @appointments.each do |appointment| %>   
            <tr> 
              <td><%= appointment.date %></td>   
              <% availability = appointment.availability %>
              <td><%= convert_to_twelve_hour_format(availability.start_slot) %></td>  
              <td><%= convert_to_twelve_hour_format(availability.end_slot) %></td>
              <% unless current_user.doctor? %>
                <td><%= appointment.doctor.name %></td>
                <td><%= appointment.current_state.capitalize %></td>
              <% end %>
              <% unless current_user.patient? %>
                <td><%= appointment.patient.name %></td>
              <% end %>
              <% if current_user.doctor? %>
                <td>
                  <% if can?(:approve, appointment) %>
                    <%= link_to complete_appointment_path(appointment), method: 'put', data: { confirm: t('popup.approve') } do %>
                      <i class="far fa-check-circle color-ready" title="pending"></i>
                    <% end %>
                  <% elsif can?(:complete, appointment) %>
                    <%= link_to complete_appointment_path(appointment), method: 'put', data: { confirm: t('popup.complete') } do %>
                      <i class="far fa-check-circle color-notice" title="approved"></i>
                    <% end %>
                  <% elsif appointment.completed? %>
                      <i class="far fa-check-circle color-success" title="completed"></i>
                  <% end %>
                </td> 
              <% end %>
              <td>
                <% if can?(:cancel, appointment) %>
                  <%= link_to cancel_appointment_path(appointment), method: 'put', data: { confirm: t('popup.cancel') } do %>
                    <i class="far fa-times-circle color-danger" title="cancel"></i>
                  <% end %>
                <% elsif can?(:approve, appointment) %>
                  <%= link_to "#" do %>
                    <i class="fas fa-pen color-primary-btn" title="prescription"></i>
                  <% end %>
                <% end %> 
              </td>    
            </tr>   
          <% end %>  
        </tbody>   
      </table> 
    </div>
  </div>
</div>
<div class="pagination justify-content-center" class="pagination-spacing">
  <%= will_paginate @appointments, previous_label: t('paginate.previous'), next_label: t('paginate.next') %> 
</div>
