<div class="tab-pane <%= addclass %>" id="<%= "pag#{num+1}" %>" role="tabpanel">
  <div class="sv-tab-panel">
    <div class="container  pt-3"> 
      <div class="card scroll">
        <div class="card-body table-responsive">
          <% days = Date::DAYNAMES%>
          <% if !@availabilities.where(week_day: days[num]).empty? %>
            <table class="table">   
              <thead >   
                <tr>   
                  <th>Start</th>   
                  <th>End</th> 
                  <th></th> 
                </tr>   
              </thead>   
              <tbody>
              <% @availabilities.each do |availability| %>
                <% if availability.week_day == days[num] %>  
                  <tr>  
                    <td><%= availability.start_slot.strftime("%I:%M%p") %></td>  
                    <td><%= availability.end_slot.strftime("%I:%M%p") %></td>
                    <td>
                      <%= link_to availability_path(availability), method: :delete do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </td>     
                  </tr>   
                <% end %>     
              <% end %>  
              </tbody>   
            </table>
          <% else %>
            No Availability Slot
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>