<div class="container pt-3">
  <div class="card">
    <div class="card-header p-3 container-fluid">
      <div class="row">
        <h3 class="col-md-9">
          <%= t('availability.name') %>
        </h3>
        <div class="col-md-3 d-flex justify-content-md-end">
          <%= link_to t('add'), new_doctor_availability_path(@doctor),  {remote: true, 'data-toggle' =>"modal", 'data-target' =>'#availability_modal', class: 'btn btn-primary'} %>
          <%= render partial: "availability_modal" %>
        </div>
      </div>
    </div>
    <div class="vertical-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <% 7.times do |num| %>
          <%= render partial: "availability_tab_row", locals: { num: num, addclass: active_tab_class(num, @selected_week_day) } %>
        <% end %>
      </ul>
      <div class="tab-content">
        <%= render partial: "availability_tab", locals: { num: 0, addclass: 'active' } %>
      </div>
    </div>
  </div>
</div>
