<div class="container pt-3 <%= controller.class.send(:_layout) == 'static_pages_layout' ? 'mt-5' : '' %>">
  <% flash.each do |type, message| %>
    <% unless type == 'timedout' %>
      <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
        <button class="close" data-dismiss="alert">x</button>
        <% if message.is_a?(String) %>
          <%= message %>
        <% elsif message.is_a?(Array)%>
          <h5><strong><%= t('errors_msg') %></strong></h5>
          <ul>
            <% message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
