<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <a href="#"><span>
      <% if user_signed_in? %>
        <div class="title"><%= current_hospital.name %></div>
      <% else %>
        <div class="title"><%= "HMS" %></div>
      <% end %>
      </span>
    </a>
  </div>
  <div class="container-fluid">
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
      </div>
    </form>
    <div id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span>
                <%= image_pack_tag 'user.png', class: "img-circle", alt: "Avatar" %>
                <%= current_user.name %>
                <i class="icon-submenu lnr lnr-chevron-down"></i>
                <ul class="dropdown-menu">
                  <% path = root_path << current_user.type.downcase << "/" << current_user.id.to_s %>
                  <li><a href=<%= path %>><i class="lnr lnr-user"></i><span>My Profile</span></a></li>
                  <li><a href=<%= destroy_user_session_path %> data-method= delete><i class="lnr lnr-exit"></i><span>Logout</span></a></li>
                </ul>
              </span>
            </a>
          <% else %>
            <div class="float-right-arrow navbar-btn ">
              <%= link_to "Sign up", new_user_registration_path, class: 'btn' %>
              <%= link_to "Login", new_user_session_path, class: 'btn' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>