<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar custom-sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="navbar-nav ">
        <!-- Medicines -->
        <% if can?(:index, Medicine) %>
          <li class="mb-4">
            <a class="sidebar-row" href=<%= doctors_path %> >
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Medicines</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Purchase Orders -->
        <% if can?(:index, PurchaseOrder) %>
          <li class="mb-4">
            <a class="sidebar-row" href=<%= doctors_path %> >
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Purchase Orders</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Sale Orders -->
        <% if can?(:index, Bill) %>
          <li class="mb-4">
            <a class="sidebar-row" href=<%= doctors_path %> >
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Sale Orders</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Doctor -->
        <% if can?(:index, Doctor) %>
          <li class="mb-4">
            <a class="sidebar-row" href=<%= doctors_path %> >
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Doctors</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Patient -->
        <% if can?(:index, Patient) %>
          <li class="mb-4">
            <a class="sidebar-row" href=<%= patients_path %> >
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="fas fa-user-injured"></i>
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Patients</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Appointments -->
        <% if can?(:index, Appointment) %>
          <li class="mb-4">
            <a href="#" class="sidebar-row">
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="lnr lnr-calendar-full"></i> 
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                    <span class="">Appointments</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Prescriptions -->
        <% if can?(:index, PrescribedMedicine) %>
          <li class="mb-4">
            <a href="#" class="sidebar-row">
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="lnr lnr-calendar-full"></i> 
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Prescriptions</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
        <!-- Reports -->
        <% if can?(:index, Test) %>
          <li class="mb-4">
            <a href="#" class="sidebar-row">
              <div class="row sidebar-nav-item text-light">
                <div class="col-1 ml-5 mr-1 sidebar-icon">
                  <i class="lnr lnr-calendar-full"></i> 
                </div>
                <div class="col-8 mr-1 ml-1 sidebar-text">
                  <span class="">Reports</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="container-fluid float-right-arrow ">
      <div class="navbar-btn d-flex justify-content-center btn-toggle-fullwidth "><i class="fas fa-arrow-circle-left arrow"></i>
      </div>
    </div>
  </div>
</div>
<!-- END LEFT SIDEBAR -->