<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div aria-label="breadcrumb" >
      <div class="breadcrumb" >
        <%= render_breadcrumbs separator: ' / '%>
      </div>
    </div>
    <%= render partial: 'layouts/flash', flash: flash %> 
    <%= yield %>
  </body>
</html>
