<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head> 
  <body>
    <div id="wrapper">
      <%= render partial: 'layouts/navbar' %>
      <% if signed_in?  %>
        <%= render partial: 'layouts/sidebar' %>
      <% end %>
      <div class="content-with-sidebar">
        <div class="content">
          <div class="container pt-3"> 
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <%= render partial: 'layouts/breadcrumb' %>
            </nav>
          </div>
          <%= render partial: 'layouts/flash', flash: flash %>
          <%= yield %>
        </div>
      </div> 
    </div>
  </body>
</html>
