
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head> 
  <body>
    <div id="wrapper">
      <%= render partial: 'layouts/navbar' %>
      <%= render partial: 'layouts/sidebar' %>
      <div class="content-with-sidebar">
        <div class="content">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-5">
            <%= render partial: 'layouts/breadcrumb'%>
          </nav>
          <%= render partial: 'layouts/flash', flash: flash %>
          <%= yield %>
        </div>
      </div> 
    </div>
  </body>
</html>
