<%= render "users/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container pt-3 w-75 card_center mb-7">
    <div class="card card-3 card-border">
      <div class="card-heading"></div>
      <div class="card-body m-2">
        <div class="text-center p-3 container-fluid">
          <div class="row">
            <h1 class="col-md-12">
              <%= t('guest.welcome_msg') %>
            </h1> 
          </div>
        </div>
        <div class="pt-25">
          <div class="separator"></div>
        </div>
        <div class="row mt-3 ml-2 font-for-card">
          <h3 ><%= t('guest.signup') %></h3>
        </div>
        <p>
          <div class="ml-2">
            <div class="row py-2">
              <label class="col-4"><%= t('guest.profile.name') %><span class="color-danger">*</span></label>
              <div class="pl-0 col-8">
                <%= f.text_field :name, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>
              </div>
            </div>
            <div class="row py-2">
              <label class="col-4"><%= t('guest.profile.email') %><span class="color-danger">*</span></label>
              <div class="pl-0 col-8">
                <%= f.email_field :email, autocomplete: "email", required: true, class: "form-control" %>
              </div>
            </div>
            <div class="row pt-2">
              <label class="col-4">
                <div class="row pl-3">
                  <%= t('guest.profile.password') %>
                  <span class="color-danger">*</span>
                </div>
                <div class="row pl-3">
                  <% if @minimum_password_length %>
                    <em class="min-password-size" >(<%= @minimum_password_length %> minimum)</em><br />
                  <% end %>
                </div>
              </label>
              <div class="col-8 pl-0">
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
            <div class="row pb-3">
              <label class="col-4"><%= t('guest.profile.confirm_password') %><span class="color-danger">*</span></label>
              <div class="pl-0 col-8">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control" %>
              </div>
            </div>
             <%= f.fields_for :hospital, resource.build_hospital do |h| %>
              <div class="row pb-3">
                <label class="col-4"><%= t('guest.profile.hospital_name') %><span class="color-danger">*</span></label>
                <div class="pl-0 col-8">
                  <%= h.text_field :name, required: true, id: "hospital_name", class: "form-control" %>
                </div>
              </div>
              <div class="row pb-0">
                <label class="col-4"><%= t('guest.profile.hospital_sub_domain') %><span class="color-danger">*</span></label>
                <div class="pl-0 col-8">
                  <%= h.text_field :sub_domain, id: "sub_domain", readonly: true, class: "form-control" %>
                </div>
              </div>
              <div class="row pb-3">
                <label class="col-4"><%= t('guest.profile.hospital_phone_number') %><span class="color-danger">*</span></label>
                <div class="pl-0 col-8">
                  <%= h.text_field :phone_number, required: true, class: "form-control" %>
                </div>
              </div>
              <div class="row pb-3">
                <label class="col-4"><%= t('guest.profile.hospital_address') %></label>
                <div class="pl-0 col-8">
                  <%= h.text_field :address, class: "form-control" %>
                </div>
              </div>
           <% end %>
          </div>
        </p>
       <%= f.hidden_field :type, value: "Admin" %>
       <div class="row">
         <div class="col-md-12 text-center">
           <%= f.submit t('guest.signup') , class: "btn hover-button button-width" %>
         </div>
       </div>
       <div class="row mt-3">
         <div class="text-center col-md-12">
           <%= link_to 'Already have an Account?', new_user_session_path , class: 'links-color' %>
         </div>
        </div>
      </div>
    </div>
  </div>
<%end%>